<%if cannot? :manage, Product%>
 <br>
 <h2>Unauthorise access</h2>
<%else%>

  <h2>edit Product:</h2>
  <%= form_with model: @product, url: seller_path, method: :PATCH do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :price %><br>
      <%= form.text_area :price %>
    </p>
      <p>
      <%= form.label :stock %><br>
      <%= form.text_area :stock %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>

<%end%>