
<div class="container">
  <h2 class="text-center">Add Product</h2>
  <%= button_to 'Go to dashboard', root_path, method: :get, type: "button", class: "btn btn-primary", style: "font-size:15px;"%>
  <br>
  

  <%= form_with model: @product, url: sellers_path, method: :POST do |form| %>
    <div class="form-group">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
      <div class="form-group">
      <%= form.label :price %><br>
      <%= form.text_area :price %>
    </div>
    <div class="form-group">
      <%= form.label :stock %><br>
      <%= form.text_area :stock %>
    </div>
    <div class="form-group">
      <%= form.submit %>
    </div>
  <% end %>
</div>
