
<div class="container">
    <h2 class="text-center">Your Hidelist</h2>
    <%= button_to 'Go to dashboard', root_path, method: :get, type: "button", class: "btn btn-primary", style: "font-size:15px;"%>
    

    <br><br>
    <table class="table">
    <thead><th>Name</th><th>Price</th><th>Stock</th><th>Quantity</th></thead>
    <tbody>
        <%@hidelists.each do |hidelist|%>
            <%@product = Product.find(hidelist.product_id)%>
            <tr>
            
                
                <td> <%=@product.name%></td>
                <td> Rs <%=@product.price%></td>
                <td> <%=@product.stock%></td>
                

                <td> <%= link_to "Remove from hidelist",  hidelist_path(hidelist), method: :delete, data: { turbolinks: false,  confirm: "Are you sure?" }%></td>

        
            
                
            </tr>
        <%end%>
    </tbody>
    </table>
</div>
