<br>

<% if user_signed_in? %>
 <div class="container">
 <h2 class="text-center">Dashboard</h2>
    <ul class="list-group">
            <%if current_user.seller == true%>
            
                <li class="list-group-item" style=" background-color: rgba(255,255,255,0.5); " ><%= link_to '1. Show My Products', sellers_path%></li>
                
                <li class="list-group-item" style=" background-color: rgba(255,255,255,0.5); "><%=link_to '2. Add New Products', new_seller_path%></li>
                
                <li class="list-group-item" style=" background-color: rgba(255,255,255,0.5); "><%=link_to '3. Go To Hidelist', hidelists_path%></li>
            

            
            <%else%>
            
                <li class="list-group-item" style=" background-color: rgba(255,255,255,0.5); "><%=link_to '1. Show All Products', buyers_path, data: { turbolinks: false }%></li>
        
                <li class="list-group-item" style=" background-color: rgba(255,255,255,0.5); "><%=link_to '2. View Cart', carts_path%></li>
            
                <li class="list-group-item" style=" background-color: rgba(255,255,255,0.5); "><%=link_to '3. Go To Wishlist', wishlists_path%></li>
            
                <li class="list-group-item" style=" background-color: rgba(255,255,255,0.5); "><%=link_to '4. show My Orders', orders_path%></li>
            
            <%end%>
            <li class="list-group-item"><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
        </ul> 
 </div>
<%else%>
<div class="container">
 <h2 class="text-center">Please login to continue</h2>
 <ul class="list-group">
     <li class="list-group-item"><%=link_to 'Login', new_user_session_path%></li>
</ul>
</div>
<%end%>



