
<%if cannot? :manage, Cart%>
 <br>
 <h2>Unauthorise access</h2>

<%else%>


    <br><br>

    <%=link_to 'Go to dashboard', root_path%>
    <br><br>
    <table>
    <thead><th>name</th><th>price</th><th>stock</th><th>quantity</th></thead>
    <tbody>
        <%@products.each do |product|%>
            <tr>
            <%= form_with model: product, url: carts_path, method: :POST do |form| %>
                <%=form.hidden_field  :id, name: 'product[product_id]'%>
                <td> <%=product.name%></td>
                <td> <%=product.price%></td>
                <td> <%=product.stock%></td>
                <%if @user.carts.where(product_id: product.id).empty? %>
                    <td><%=form.number_field :quantity, value: 0, min: 1, max: product.stock%></td>
                
                    <td> <%= form.submit "Add to cart" %></td>
                <%else%>
                    <td> <%= link_to "Go to cart",  carts_path, data: { turbolinks: false }%></td>

                <%end%>
                
            <%end%>
            </tr>
        <%end%>
    </tbody>
    </table>
<%end%>
